<!-- Web-Based Mobile Applications -->
<!-- Akram Lagrazna -->
<html>
<head>
        <link rel="manifest" href="afterclass.webmanifest">

    <title>After School Club</title> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script></head>


    <div id="app">
   
    <header>
        <h1 v-text="sitename">
            </h1>
    </header>
    
    <div v-if="showProduct.visible">
        <input type="button" value="Sort by Price" v-on:click='showSort'> </input>

        <div v-if="showProduct.showP">
        <div v-for="product in sortedProducts">
        <main style='padding: center;'>
        <img v-bind:src="product.image" width="150px" height="150px">
        <h2 v-text="product.subject">
        </h2>
        <p v-text="product.location">
        </p>
        <p>Price: {{product.price}}</p>
        <p> Number of Spaces: {{product.spaces}}</p>
        <input type="button" value="Add to Cart" v-if="canShowAdd(product)" v-on:click='addToCart(product)'> </input>
    <br /></div>

        </div>
        <div v-else>


        <div v-for="product in sortProducts">
        <main style='padding: center;'>
        <img v-bind:src="product.image" width="150px" height="150px">
        <h2 v-text="product.subject">
        </h2>
        <p v-text="product.location">
        </p>
        <p>Price: {{product.price}}</p>
        <p> Number of Spaces: {{product.spaces}}</p>
        <input type="button" value="Add to Cart" v-if="canShowAdd(product)" v-on:click='addToCart(product)'> </input>
    <br /></div></div>



    <input type="button" value="Checkout" v-if="canShowCheckout"  v-on:click='showCheckout'> </input>
</main>
</div>
<div v-else>
    <h2>Basket</h2>
    <div v-for='product in cart'>
    <p v-text='product'> {{ product }}</p><input type="button" value="Remove" v-on:click="removeId(product)"></input>
    <br />
    </div>
    <h2>Checkout</h2>
    <p><strong>Name:</strong>
    <input pattern="([A-zÀ-ž\s]){2,}" v-model="order.name"/></p>
    <p><strong>Phone Number:</strong>
    <input type='number' v-model="order.phoneNumber"/></p>
    <h2>Order Information</h2>
    <p>Name:         {{order.name}}</p>
    <p>Phone Number: {{order.phoneNumber}}</p>
<br />
    <button v-if="canCheckout" v-on:click="submitOrder">
        <span></span> Place Order
        </button><br />
        <input type="button" value="Back to Lessons" v-if="canShowBack"  v-on:click='showCheckout'> </input>


        
        <script src="products.js"></script>
        <script src="main.js"></script>    
<style>
    .product {border: 1px grey solid;padding: 20px;margin: 20px;text-align: center;}

</style>
<script>
    if('serviceWorker'in navigator) {    navigator.serviceWorker.register('service-worker.js');};
</script>
</div>
</div>

</body> 

</html>
